{% extends 'base.html.twig' %}

{% block title %}Fights index{% endblock %}

{% block body %}
    <h1>Fights index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Result</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fight in fights %}
            <tr>
                <td>{{ fight.id }}</td>
                <td>{{ fight.result }}</td>
                <td>
                    <a href="{{ path('app_fights_show', {'id': fight.id}) }}">show</a>
                    <a href="{{ path('app_fights_edit', {'id': fight.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fights_new') }}">Create new</a>
{% endblock %}
