{% extends 'base.html.twig' %}

{% block title %}Fights{% endblock %}

{% block body %}
    <h1>Fights</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fight.id }}</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{ fight.result }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fights_index') }}">back to list</a>

    <a href="{{ path('app_fights_edit', {'id': fight.id}) }}">edit</a>

    {{ include('fights/_delete_form.html.twig') }}
{% endblock %}
