{% extends 'base.html.twig' %}

{% block title %}Pokeplantilla{% endblock %}

{% block body %}
    <h1>Pokeplantilla</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pokeplantilla.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ pokeplantilla.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ pokeplantilla.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pokeplantilla_index') }}">back to list</a>

    <a href="{{ path('app_pokeplantilla_edit', {'id': pokeplantilla.id}) }}">edit</a>

    {{ include('pokeplantilla/_delete_form.html.twig') }}
{% endblock %}
